body{
    background-color: #417D7A;
    margin: 0;
    font-family: 'Helvetica', 'Arial', sans-serif;
    color: #1A3C40;
}

div{
    background-color: #EDE6DB;
    border-radius: 20px;
    width: 500px;
    margin: auto;
    padding: 40px;
    margin-top: 100px;
}

h1{font-size: 2.5em;}
h2{
    font-size: 2em;
}

h3{
    font-size: 1em;
    color: grey;
}
